td {
    vertical-align: middle;
}

td img {
    height: 200px;
}

.livros-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}

.livros-cards .card-text {
    padding-bottom: 30px;
}

.livros-cards .buttons {

    position: absolute;
    right: 1rem;
    bottom: 1rem;
}